.footer {
	font-family: $fontSbbRoman;
	font-size: 0.75rem;
	margin: 1.5rem 0;
	float: left;
	position: absolute;
	bottom: 0;

	@media (min-width: 643px) {
		margin: 2.75rem 0;
		position: initial;
	}

	@media (min-width: 1025px) {
		margin: 2.25rem 0;
		padding-left: 2.75rem;
	}
}

.languages__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}

.languages__item {
	display: block;
	float: left;
}

.languages__item:not(:first-child) {
	margin-left: .5rem;
}

.languages__link {
	display: inline-block;
	text-decoration: none;
	color: $color-black;
}

.languages__link--active {
	border-bottom: 1px solid $color-black;
	padding-bottom: 0.125rem;
	cursor: default;
}

.languages__link:not(.languages__link--active):hover {
	color: $color-red;
}
