:host {
	@include moduleSpacing();
}

.teasers {
	list-style-type: none;
	padding: 0 .8rem;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media (min-width: 643px) {
	.teasers {
		padding: 0 1.5rem;
	}

	.teasers sbb-deeplink-teaser {
		margin-right: 1rem;
	}

	.teasers sbb-deeplink-teaser:nth-child(2n) {
		margin-right: 0;
	}
}

@media (min-width: 1025px) {
	.teasers {
		padding: 0 2rem;
		margin: 0 auto;
		max-width: 1200px;
	}

	.teasers sbb-deeplink-teaser:nth-child(2n) {
		margin-right: 1rem;
	}

	.teasers sbb-deeplink-teaser:nth-last-child(3),
	.teasers sbb-deeplink-teaser:nth-last-child(1) {
		margin-right: 0;
	}
}
