:host {
	@include moduleSpacing;
}
.header {
	border-bottom: 1px solid $color-gray;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-family: $fontSbbRoman;
	font-size: 1rem;
	margin: 0 auto;
	padding: 1rem 2rem;
	max-width: 1200px;
}

.logo {
	width: 10rem;
	margin: 0 0 0 auto;
	padding-top: 0.375rem;
	float: right;
	flex: auto 0 0;
	order: 2;
}

.nav {
	list-style-type: none;
	margin: 1.5rem 0 0;
	padding: 0;
	overflow: auto;
	flex-basis: 100%;
	font-size: 1.1rem;
	order: 3;
}

.navitem {
	display: block;
	float: left;
}

.navitem:not(:first-child) {
	padding-left: 1rem;
}

.navlink {
	text-decoration: none;
	color: $color-black;
}

.navlink:hover {
	color: $color-red-hover;
}

@media (max-width: 850px) {

	.header-wrapper {
		align-items: center;
		flex-wrap: wrap;
	}

	.logo {
		height: 18px;
		padding: 0;
	}

	.nav {
		display: none;
		flex-basis: 100%;
	}

	.nav--toggled {
		display: block;
	}

	.navitem {
		float: none;
	}

	.navitem:not(:first-child) {
		padding: .5rem 0 0;
	}

	.toggle {
		cursor: pointer;
		user-select: none;
		order: 1;
	}

	.toggle__icon {
		display: flex;
		stroke: $color-black;
	}

	.toggle__icon:hover {
		stroke: $color-red;
	}

}

@media (min-width: 850px) {
	.nav {
		margin-bottom: 1rem;
	}

	.logo {
		width: 12rem;
		height: 22px;
		margin: 0;
	}

	.toggle {
		display: none;
	}
}
