@mixin visuallyhidden() {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(0 0 0 0);
	margin: -1px;
	padding: 0;
	border: 0;
}

@mixin resetList() {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

@mixin moduleSpacing() {
	display: block;
	overflow: auto;
	margin-bottom: 3.5rem;

	@media (min-width: 643px) {
		margin-bottom: 4.5rem;
	}

	@media (min-width: 1025px) {
		margin-bottom: 6rem;
	}
}
