// fonts
$fontBase: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSbbRoman: 'SBBWeb Roman', $fontBase;
$fontSbbBold: 'SBBWeb Bold', $fontBase;
$fontSbbUltralight: 'SBBWeb Ultralight', $fontBase;
$fontSbbLight: 'SBBWeb Light', $fontBase;
$fontSbbThin: 'SBBWeb Thin', $fontBase;

// colors
$color-black: #444444;
$color-red: #eb0000;
$color-red-hover: #c60018;
$color-gray: #e5e5e5;
$color-white: #ffffff;
$color-grey-silver: #ddcdcd;
$color-black-10: #e5e5e5;
$color-black-20: #d2d2d2;
$color-black-40: #a8a8a8;
$color-black-80: #5a5a5a;
$color-black-100: #1E1E1E;
