.title {
	font-family: $fontSbbThin;
	font-weight: normal;
	font-size: 1.75rem;
	display: flex;
	justify-content: center;
}

.from {
	display: block;
}

.to {
	display: block;
}

.icon {
	display: block;
	width: 2rem;
	height: 2rem;
	margin: 0 .5rem;
}

@media (min-width: 1024px) {
	.title {
		font-size: 2.5rem;
	}

	.icon {
		margin: 0 1rem;
	}
}
