.white-trapeze {
	position: absolute;
	top: 7.5rem;
	left: 12.5rem;
	width: 5.625rem;
	height: 4rem;
	color: $color-red;
	pointer-events: none;
	z-index: 1;
	perspective:  11.25rem;

	@media (min-width: 600px) {
		left: 18.25rem;
		top: 11.25rem;
		width: 9.25rem;
		height: 7.25rem;
		perspective-origin: 50% 40%;
	}

	@media (min-width: 1025px) {
		top: 13.75rem;
		left: 24rem;
		width: 10.5rem;
		height: 8.5rem;
	}
}

.background {
	display: block;
	width: 100%;
	height: 100%;
	background: $color-white;
	z-index: 0;
	transform: rotateY(-26deg);
	transform-origin: left center;
	transform-style: preserve-3d;

	@media (min-width: 600px) {
		transform: rotateY(-13deg);
	}

	@media (min-width: 1025px) {
		transform: rotateY(-11deg);
	}
}

.content {
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 0.75rem;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;

	@media (min-width: 600px) {
		padding: 0 1rem;
	}

	@media (min-width: 1025px) {
		padding: 0 1rem 0 1.25rem;
	}
}

.lead,
.caption {
	display: none;
	font-family: $fontSbbBold;
	font-size: 0.6875rem;
	line-height: (12/11);
	text-transform: uppercase;

	@media (min-width: 600px) {
		display: block;
	}

	@media (min-width: 1025px) {
		font-size: 0.8125rem;
	}
}

.lead {
	padding-bottom: 0.375rem;
	margin-bottom: 0.4375rem;
	border-bottom: 0.125rem solid currentColor;

	@media (min-width: 1025px) {
		display: block;
		margin-bottom: 0.4375rem;
	}
}

.caption {
	display: block;
	margin-bottom: 0.125rem;

	@media (min-width: 1025px) {
		margin-bottom: 0.25rem;
	}
}

.tag {
	font-family: $fontSbbBold;
	font-size: 1.5rem;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 0.1875rem;
	white-space: nowrap;

	@media (min-width: 600px) {
		font-size: 2.8125rem;
		margin-top: 0.125rem;
		margin-bottom: 0;
	}

	@media (min-width: 1025px) {
		font-size: 3.375rem;
	}
}

.prefix {
	padding-right: 0.125rem;
}
