.result {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	margin: 1px 0 0;
	background-color: #EFEFEF;
	font-family: $fontSbbLight;
	font-size: 1rem;
}

.location {
	display: block;
}

.time {
	display: block;
	font-family: $fontSbbBold;
	font-size: 1.2rem;
}

.track {
	display: block;
}
