:host {
	display: none;
	order: 4;
	margin: 1rem 0 0;
}

:host(.nav--toggled) {
	display: block;
}

.item {
	font-size: 0.875rem;
	margin: 0 1rem 0 0;
}

@media (min-width: 530px) {
	:host {
		order: 2;
		display: block;
		margin: 0 0 0 1rem;
	}
}

@media (min-width: 850px) {
	:host {
		margin: 0;
	}
}
