:host {
	display: block;
	overflow: auto;
	background: $color-gray;
	color: $color-black-80;
	font-family: $fontSbbRoman;
}

.footer-columns-list {
	@include resetList();
	overflow: auto;
	padding: 0 0 1rem;
	margin-top: -.5rem;
	// padding: 1.375rem 0;
}


@media (min-width: 1025px) {
	.footer-columns-list {
		padding: 0 2rem;
		margin: 0 auto;
		max-width: 1200px;
		overflow: hidden;
	}
}
