h1 {
	font-family: $fontSbbThin;
	font-weight: normal;
	font-size: 1.75rem;
	line-height: 1.4;
}

@media (min-width: 643px) {
	h1 {
		font-size: 1.875rem;
		line-height: 1.2;
	}
}

@media (min-width: 1025px) {
	h1 {
		font-size: 2.5rem;
	}
}

.visuallyhidden {
	@include visuallyhidden();
}

