:host {
	cursor: pointer;
}

h2 {
	font-weight: normal;
	font-size: 1.125rem;
	line-height: 2;
	margin-top: -0.25rem;
	padding-bottom: 1.8125rem;
	transition: color 150ms ease-in;
}

:host(:not(.visible)) h2:hover {
	color: $color-black-100;
}

.icon {
	position: relative;
	display: inline-block;
	float: right;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1rem;
	border: 1px solid $color-black-40;
	margin-top: .2rem;
}

.icon-open,
.icon-close {
	position: absolute;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	fill: $color-black-80;
}

.icon-close {
	left: .25rem;
	top: -.24rem;
}

.icon-open {
	transform: rotate(-90deg);
	left: -.25rem;
	top: .25rem;
}

:host(.visible) .icon-open {
	display: none;
}

@media (min-width: 1025px) {
	:host {
		cursor: default;
	}

	h2 {
		font-size: 1rem;
		line-height: 1.2;
		border-bottom: 1px solid $color-grey-silver;
	}

	:host(:not(.visible)) h2:hover {
		color: inherit;
	}

	.icon {
		display: none;
	}
}
