.red-trapeze {
	font-family: $fontSbbLight;
	position: absolute;
	top: -1rem;
	left: 0;
	width: 14rem;
	height: 13rem;
	color: white;
	pointer-events: none;
	z-index: 1;
	perspective: 15rem;
}

.background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 138%;
	height: 100%;
	background: rgba(235, 0, 0, .9);
	z-index: 0;
	transform: rotateY(26deg);
	transform-origin: left center;
	transform-style: preserve-3d;
}

.content {
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

.title {
	font-size: 1.5rem;
	font-family: $fontSbbLight;
	font-weight: normal;
	margin: 0;
}

.text {
	font-size: 1rem;
	margin: 0;
	padding-top: 1rem;
}

.icon {
	display: inline-block;
	fill: white;
	padding-left: .7rem;
}

@media (min-width: 600px) {
	.red-trapeze {
		top: -.5rem;
		width: 20rem;
		height: 21rem;
		perspective: 27rem;
	}

	.title {
		font-size: 2rem;
	}

}

@media (min-width: 1025px) {
	.red-trapeze {
		width: 26rem;
		height: 25rem;
		perspective: 40rem;
	}

	.content {
		padding: 2rem;
	}

	.title {
		font-size: 2.6rem;
	}

}
